rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /quizSet/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /quiz/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /quiz/{parent}/question_a/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/question_a/{document} {
      allow read: if true;
    }


    match /quiz/{parent}/question_b/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/question_b/{document} {
      allow read: if true;
    }


    match /quiz/{parent}/question_c/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/question_c/{document} {
      allow read: if true;
    }


    match /quiz/{parent}/question_d/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/question_d/{document} {
      allow read: if true;
    }

  }
}
